
@{
    ViewBag.Title = "GameOver";
    Layout = "";
}

<h2 align ="center">GameOver</h2>
<form action="/Start/IndexV">
    <div align="center" style="padding-top: 150px">
        <button id="RestartButton" style="border-width: thick; font-size: 100px">Back to menu</button>
    </div>
</form>

