
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<html>
<head>
</head>
<body>
    <form action="/Millionare/Gaming">
        <div style="margin: 0 auto; width: 300px; padding-top: 200px">
            <button id="StartButton" style="border-width: thick; font-size: 100px">START</button>
        </div>
    </form>
    <form asp-action="Index" method="post">
        <div align="center">
            <label style="position: relative;">Select number of questions</label>
            <select id="NumSelect" name="qNumber" style="position: relative;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <input type="submit" value="Confirm" name="start" />
        </div>
    </form>
</body>
</html>